.content-section {
  margin: 0 auto;
  margin-top: 15px;
  width: 936px;
  display: flex;
  flex-wrap: wrap;
}
.write-form {
  display: inline-block;
  width: 617px;
  height: 218px;
  border: 1px solid #707070;
  border-radius: 14px;
  margin-right: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 16%);
}

.user-info {
  height: 218px;
  width: 298px;
  border: 1px solid #707070;
  border-radius: 14px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 16%);
}
