.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* justify-content: space-evenly; */
}

.userImage {
  margin-bottom: 5px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.nickname {
  margin-right: 5px;
  display: inline-block;
  font-size: 18px;
  color: #7b7b7b;
}

.logout-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  color: #7b7b7b;
  cursor: pointer;
}

.logout-icon:hover {
  color: black;
}

.icon-box {
  margin-top: 5px;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 0 7.5px;
  cursor: pointer;
  color: #7b7b7b;
  transition: color 0.25s;
}

.icon:hover {
  color: black;
}
.heart-icon:hover {
  color: #d92323;
}

.introduce-myself {
  border: none;
  outline: none;
  text-align: center;

  margin-top: 20px;
  display: inline-block;
  width: 226px;
  height: 35px;
  font-size: 12px;
  color: #7b7b7b;
  overflow: hidden;
  resize: none;
}

.introduce-myself:hover {
  text-decoration: underline;
  cursor: pointer;
}
.introduce-myself:focus {
  text-decoration: underline;
  cursor: text;
}

.user-info-profile-container {
  display: flex;
  margin: 0px auto;
  position: relative;
}

.user-info-profile-container:hover .user-edit-photo-box {
  display: block;
  cursor: pointer;
}

.user-edit-photo-box {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
}

.user-info-photoIcon {
  position: absolute;
  opacity: 1;
  color: #ffffff;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.myself-container {
  display: flex;
  margin-top: 10px;
  width: 250px;
  word-break: break-all;
}

.myself-container > p {
  font-size: 0.9rem;
  margin: auto;
}

.myself-btn:hover {
  cursor: pointer;
  color: rgb(28, 150, 75);
  transform: scale(1.2);
}

.myself-edit-container {
  display: flex;
}

.myself-edit-btn {
  background-color: rgb(44, 158, 59);
  border-style: none;
  margin-top: 5px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.myself-edit-btn:hover {
  transform: scale(1.1);
}
